<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <httpRuntime executionTimeout="100000" maxRequestLength="52428800" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" forwardWindowsAuthToken="false" stdoutLogEnabled="false" startupTimeLimit="3600" requestTimeout="23:00:00" />
        <requestFiltering>
            <!-- Note:maxRequestLength is in kilobytes & maxAllowedContentLength is in Bytes, in this case 50MB -->
            <requestLimits maxAllowedContentLength="52428800"/>
        </requestFiltering>
    </system.webServer>
</configuration>
