<h5 class="page-item col-12">
    More about videos API in 
    <a target="_blank" href="https://ziggeo.com/docs/sdks/server-side/csharp/videos">
        Ziggeo Documentation
    </a>
</h5>

<div class="col-12 mb-3">
    <a class="btn btn-info" asp-controller="Videos" asp-action="Index">
        All Videos
    </a>
</div>
